body {
  font-family: sans-serif;
  color: #111111;
  background: #f1f1f1;
  margin: 0;
  padding: 0; }
  body * {
    box-sizing: border-box;
    outline-style: none; }

main {
  display: grid;
  grid-template-columns: 5fr 2fr; }
  main div#header-map {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; }
  main header {
    margin: 10px auto; }
  main figure {
    padding: 0;
    margin: 0; }
  main div.navigation div.search {
    width: 100%;
    background-color: #f1f1f1;
    padding: 0.5em; }
    main div.navigation div.search p.cityName {
      margin: 1em 0 0.5em 0; }
    main div.navigation div.search .tt-input,
    main div.navigation div.search .tt-hint {
      height: 1.5em;
      padding: 0.4em 0.4em;
      font-size: 1em;
      line-height: 1.5em;
      border: 2px solid #ccc;
      border-radius: 5px;
      outline: none;
      background-color: #f1f1f1; }
    main div.navigation div.search .tt-input {
      /* UPDATE: newer versions use tt-input instead of tt-query */
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    main div.navigation div.search .tt-hint {
      color: #999; }
    main div.navigation div.search .tt-menu {
      /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
      width: 422px;
      margin-top: 12px;
      padding: 8px 0;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    main div.navigation div.search .tt-suggestion {
      padding: 3px 20px;
      font-size: 1em;
      line-height: 24px; }
    main div.navigation div.search .tt-suggestion.tt-is-under-cursor {
      /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
      color: #fff;
      background-color: #f1f1f1; }
    main div.navigation div.search .tt-suggestion p {
      margin: 0; }
  main div.navigation .table {
    padding: 0.5em; }
    main div.navigation .table .route {
      padding: 0.5em;
      margin: 0.5em;
      padding: 0.3em;
      border: 1px solid #929292; }
    main div.navigation .table p.routeProperty {
      display: none;
      font-size: 0.9em;
      color: grey; }
    main div.navigation .table div.cityTitle, main div.navigation .table p.routeTitle, main div.navigation .table p.routeProperty {
      cursor: pointer; }
    main div.navigation .table .cityTitle {
      border: 1px solid #929292;
      padding: 0.3em;
      transition: all 1.5s; }
    main div.navigation .table p.routeTitle.open {
      background-color: #ea3e13;
      margin-block-start: 0;
      margin-block-end: 0; }
    main div.navigation .table p.routeTitle {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em; }
    main div.navigation .table div.city {
      padding: 0.3em;
      border: 1px solid #929292; }

article {
  display: grid;
  grid-template-columns: 1fr; }

.read {
  margin: 3em 1em 0 1em; }
  .read h3 {
    color: #ea3e13;
    font-weight: 400;
    margin: 0; }
    .read h3.upper {
      text-transform: uppercase;
      font-weight: 500; }
  .read p {
    margin: 0 0 1.5em 0; }
  .read p:first-of-type {
    margin-top: 1em; }
  .read a {
    text-decoration: none;
    color: #ea3e13;
    font-weight: 400; }
  @media screen and (min-width: 577px) {
    .read {
      margin: 4em 7.5% 0 7.5%; } }
  @media screen and (min-width: 950px) {
    .read {
      margin: 4em 20% 0 20%; } }
  @media screen and (min-width: 1400px) {
    .read {
      margin: 4em 25% 0 25%; } }

footer #read_more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4em 3em 2em 3em;
  grid-gap: 3em; }

@media screen and (max-width: 577px) {
  footer #read_more {
    grid-template-columns: 1fr; } }
footer #read_more h3 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.25em; }

footer #read_more img {
  max-width: 100%; }

footer #donate {
  margin: 4em 1em 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }

footer #donate h5 {
  font-size: 1rem;
  text-align: center; }

@media screen and (min-width: 577px) {
  footer #donate {
    margin: 4em 15% 4em 15%; }

  footer #donate h5 {
    font-size: 1.25em;
    max-width: 40em; } }
footer #donate a {
  background-color: #ffc423;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 1s; }

footer #created_texty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }

footer #created_texty i {
  box-sizing: content-box;
  margin: 0.5em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  border: 1px solid #8d8d8d;
  color: #8d8d8d;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 2.5em;
  line-height: 1;
  transition: all 0.5s; }

footer #created_texty i:hover {
  border: 1px solid #333333;
  color: #333333; }

footer #created_texty img {
  max-height: 4em;
  max-width: 90%; }

footer #created_texty div {
  text-align: center; }

footer #created_texty h3 {
  text-align: center;
  font-size: 1.5rem; }

.tippy-popper div.tippy-tooltip {
  color: #0d0d0d;
  font-size: 1rem;
  padding: 0.75em !important;
  box-shadow: 0 0 0.5em 1px #e6e6e6;
  margin: 0 -5% 0 0; }

.tippy-popper .tippy-backdrop {
  background-color: #fff;
  opacity: 0.85; }

.tippy-popper h5 {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  font-size: 1em;
  text-align: left; }

@media screen and (min-width: 577px) {
  .tippy-popper h5 {
    font-size: 0.85rem; } }
.tippy-popper p {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  text-align: left; }

section#partners {
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #ffff;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto 220px 80px 190px 220px 120px 220px auto;
  /*grid-template-columns: auto auto auto auto auto auto auto auto;*/ }
  section#partners div.partner {
    width: 100%;
    height: 30px; }
  section#partners #partner3, section#partners #partner4 {
    margin-top: 5px; }
  section#partners #partner6 {
    width: 90% !important;
    margin-top: 10px !important; }

/*# sourceMappingURL=style.css.map */
