$fontcol: #111111;
$bgcol: #f1f1f1;
//$accentcol: #6892ff;
$accentcol: #929292;
$accentcolorange: #EB00FF;



$medium: ' screen and (min-width: 577px)';
$max_medium: ' screen and (max-width: 949.99px)';
$xlarge: ' screen and (min-width: 1400px)';
$large: ' screen and (min-width: 950px)';
$mobile: ' screen and (max-width: 577px)';



body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto 15px auto;
  line-height: 1.6;

  color: $fontcol;
  background: $bgcol;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    outline-style: none;
  }

  //.leaflet-popup-content {
  //  margin: 0.6em;
  //}

  a {
    cursor: pointer;
  }

  div.buttons {
    margin-left: 0.6em;
    width: 70%;
    display: flex;
    justify-content: space-between;

    button {
      font-size: larger;
      background-color: gray;
      color: $bgcol;
      border-radius: 0.5em;
      border: none;
      cursor: pointer;
      //font-style: oblique;
    }
  }

}


main#country, main#regions {
  //height: 90vh;
  display: grid;
  grid-template-columns: 5fr 2fr;

  @media #{$xlarge} {
      display: grid;
      grid-template-columns: 5fr 1fr;
  }

  @media #{$mobile} {
    display: block;
    //grid-template-columns: 2fr 2fr;
  }

  div#header-map, div#header-map-regions {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: auto 1fr;
    grid-template-rows: 1fr;

    div#oblastName {
      position: absolute;
    }

    h4#currentOblast {
      font-style: italic;
      color: grey;
    }


  }


  header {
    //height: 5vh;
    margin: 1em 3em;

    h1 {
      margin: 0;
    }

    h3 {
      margin-top: 0.3em;
      font-weight: unset;
    }

  }

  figure {
    padding: 0;
    margin: 0;
    background-color: $bgcol;
  }

  //#map {
  //  position: sticky;
  //  position: -webkit-sticky;
  //  top: 0;
  //  height: 100vh;
  //}

  div.navigation {

    margin-top: 1em;

    div.directions_title {
      margin: 0.5em 0.4em 0 0.8em;
      i {
        font-size: 0.8em;
        color: grey;
      }
    }

    #meta-navigation {
        svg {
          //height: 70%;
          //width: 70%;

          #Layer_1 path,text {
            cursor: pointer;
          }
        }
    }

    div.search {

      width: 100%;
      background-color: $bgcol;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      div.cityName, div.cityName-regions {
        margin: 1em 0.4em 0.5em 0.8em;
        i {
          font-size: 0.8em;
          color: grey;
        }

        p {
          margin: 0;
          padding-top: 0.5em;
        }
      }

      div#bloodhound {
        margin: 1em 0.4em 0.5em 0.4em;
      }


      .tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
      .tt-hint {
        //width: 396px;
        height: 1.5em;
        padding: 0.4em 0.4em;
        font-size: 1em;
        line-height: 1.5em;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        background-color: $bgcol;
      }

      .tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }

      .tt-hint {
        color: #999;
      }

      .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
        width: 422px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: $bgcol;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        cursor: pointer;
      }

      .tt-suggestion {
        padding: 3px 20px;
        font-size: 1em;
        line-height: 24px;
      }

      .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: $bgcol;

      }

      .tt-suggestion p {
        margin: 0;
      }
    }

    .table, .table-region {
      //display: flex;
      //flex-wrap: wrap;
      padding-left: 0.5em;

      .route {
        padding: 0.5em;
        margin: 0.5em;
        padding: 0.3em;
        border: 1px solid $accentcol;
      }

      p.routeProperty {
        display: none;
        font-size: 0.9em;
        color: grey;
        margin-left: 1.5em;
      }

      div.cityTitle, p.routeTitle, p.routeProperty {
        cursor: pointer;
      }

      .cityTitle {
        border: 1px solid $accentcol;
        //margin: 0.5em;
        padding: 0.3em;

        //padding: 0.5em;
        transition: all 1.5s;
      }

      p.routeTitle.open {
        background-color: $accentcolorange;
        margin-block-start: 0;
        margin-block-end: 0;
        color: white;

      }

      p.routeTitle {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-left: 0.4em;
      }

      div.city {
        //margin: 0.5em;
        padding: 0.3em;
        border: 1px solid $accentcol;
      }
    }


  }

}

article {
  display: grid;
  grid-template-columns: 1fr;
}

.read {
  margin: 3em 1em 0 1em;

  h3 {
    color: $accentcolorange;
    font-weight: 400;
    margin-bottom: 1em;

    &.upper {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  p {
    //margin: 0 0 1.5em 0;
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto 15px auto;
    line-height: 1.6;
  }

  li {
    margin-left: 1em;
  }

  p:first-of-type {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
    color: $accentcolorange;
    font-weight: 400;
  }

  @media #{$medium} {
    margin: 4em 7.5% 0 7.5%;
  }

  @media #{$large} {
    margin: 4em 20% 0 20%;
  }

  @media #{$xlarge} {
    margin: 4em 25% 0 25%;
  }
}

footer #read_more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4em 3em 2em 3em;
  grid-gap: 3em; }
@media screen and (max-width: 577px) {
  footer #read_more {
    grid-template-columns: 1fr; } }
footer #read_more h3 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.25em; }
footer #read_more img {
  max-width: 100%; }
footer #donate {
  margin: 4em 1em 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }
footer #donate h5 {
  font-size: 1rem;
  text-align: center; }
@media screen and (min-width: 577px) {
  footer #donate {
    margin: 4em 15% 4em 15%; }
  footer #donate h5 {
    font-size: 1.25em;
    max-width: 40em; } }
footer #donate a {
  background-color: #ffc423;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 1s; }
footer #created_texty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }
footer #created_texty i {
  box-sizing: content-box;
  margin: 0.5em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  border: 1px solid #8d8d8d;
  color: #8d8d8d;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 2.5em;
  line-height: 1;
  transition: all 0.5s; }
footer #created_texty i:hover {
  border: 1px solid #333333;
  color: #333333; }
footer #created_texty img {
  max-height: 4em;
  max-width: 90%; }
footer #created_texty div {
  text-align: center; }
footer #created_texty h3 {
  text-align: center;
  font-size: 1.5rem; }

.tippy-popper div.tippy-tooltip {
  color: #0d0d0d;
  font-size: 1rem;
  padding: 0.75em !important;
  box-shadow: 0 0 0.5em 1px #e6e6e6;
  margin: 0 -5% 0 0; }
.tippy-popper .tippy-backdrop {
  background-color: #fff;
  opacity: 0.85; }
.tippy-popper h5 {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  font-size: 1em;
  text-align: left; }
@media screen and (min-width: 577px) {
  .tippy-popper h5 {
    font-size: 0.85rem; } }
.tippy-popper p {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  text-align: left; }


section#partners {
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #ffff;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto 220px 80px 190px 220px 120px 220px auto;

  @media #{$mobile} {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

  div.partner {
    width: 100%;
    height: 30px;
  }

  //#partner1 {
  //  height: 30px;
  //}

  #partner3, #partner4 {
    margin-top: 5px;
  }

  #partner6 {
    width: 90% !important;
    margin-top: 10px !important;
  }
}

