body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto 15px auto;
  line-height: 1.6;
  color: #111111;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
}

body a {
  cursor: pointer;
}

body div.buttons {
  margin-left: 0.6em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.buttons button {
  font-size: larger;
  background-color: gray;
  color: #f1f1f1;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

main#country, main#regions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
}

@media screen and (min-width: 1400px) {
  main#country, main#regions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 1fr;
        grid-template-columns: 5fr 1fr;
  }
}

@media screen and (max-width: 577px) {
  main#country, main#regions {
    display: block;
  }
}

main#country div#header-map, main#country div#header-map-regions, main#regions div#header-map, main#regions div#header-map-regions {
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

main#country div#header-map div#oblastName, main#country div#header-map-regions div#oblastName, main#regions div#header-map div#oblastName, main#regions div#header-map-regions div#oblastName {
  position: absolute;
}

main#country div#header-map h4#currentOblast, main#country div#header-map-regions h4#currentOblast, main#regions div#header-map h4#currentOblast, main#regions div#header-map-regions h4#currentOblast {
  font-style: italic;
  color: grey;
}

main#country header, main#regions header {
  margin: 1em 3em;
}

main#country header h1, main#regions header h1 {
  margin: 0;
}

main#country header h3, main#regions header h3 {
  margin-top: 0.3em;
  font-weight: unset;
}

main#country figure, main#regions figure {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

main#country div.navigation, main#regions div.navigation {
  margin-top: 1em;
}

main#country div.navigation div.directions_title, main#regions div.navigation div.directions_title {
  margin: 0.5em 0.4em 0 0.8em;
}

main#country div.navigation div.directions_title i, main#regions div.navigation div.directions_title i {
  font-size: 0.8em;
  color: grey;
}

main#country div.navigation #meta-navigation svg #Layer_1 path, main#country div.navigation #meta-navigation svg text, main#regions div.navigation #meta-navigation svg #Layer_1 path, main#regions div.navigation #meta-navigation svg text {
  cursor: pointer;
}

main#country div.navigation div.search, main#regions div.navigation div.search {
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

main#country div.navigation div.search div.cityName, main#country div.navigation div.search div.cityName-regions, main#regions div.navigation div.search div.cityName, main#regions div.navigation div.search div.cityName-regions {
  margin: 1em 0.4em 0.5em 0.8em;
}

main#country div.navigation div.search div.cityName i, main#country div.navigation div.search div.cityName-regions i, main#regions div.navigation div.search div.cityName i, main#regions div.navigation div.search div.cityName-regions i {
  font-size: 0.8em;
  color: grey;
}

main#country div.navigation div.search div.cityName p, main#country div.navigation div.search div.cityName-regions p, main#regions div.navigation div.search div.cityName p, main#regions div.navigation div.search div.cityName-regions p {
  margin: 0;
  padding-top: 0.5em;
}

main#country div.navigation div.search div#bloodhound, main#regions div.navigation div.search div#bloodhound {
  margin: 1em 0.4em 0.5em 0.4em;
}

main#country div.navigation div.search .tt-input,
main#country div.navigation div.search .tt-hint, main#regions div.navigation div.search .tt-input,
main#regions div.navigation div.search .tt-hint {
  height: 1.5em;
  padding: 0.4em 0.4em;
  font-size: 1em;
  line-height: 1.5em;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #f1f1f1;
}

main#country div.navigation div.search .tt-input, main#regions div.navigation div.search .tt-input {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

main#country div.navigation div.search .tt-hint, main#regions div.navigation div.search .tt-hint {
  color: #999;
}

main#country div.navigation div.search .tt-menu, main#regions div.navigation div.search .tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

main#country div.navigation div.search .tt-suggestion, main#regions div.navigation div.search .tt-suggestion {
  padding: 3px 20px;
  font-size: 1em;
  line-height: 24px;
}

main#country div.navigation div.search .tt-suggestion.tt-is-under-cursor, main#regions div.navigation div.search .tt-suggestion.tt-is-under-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #f1f1f1;
}

main#country div.navigation div.search .tt-suggestion p, main#regions div.navigation div.search .tt-suggestion p {
  margin: 0;
}

main#country div.navigation .table, main#country div.navigation .table-region, main#regions div.navigation .table, main#regions div.navigation .table-region {
  padding-left: 0.5em;
}

main#country div.navigation .table .route, main#country div.navigation .table-region .route, main#regions div.navigation .table .route, main#regions div.navigation .table-region .route {
  padding: 0.5em;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid #929292;
}

main#country div.navigation .table p.routeProperty, main#country div.navigation .table-region p.routeProperty, main#regions div.navigation .table p.routeProperty, main#regions div.navigation .table-region p.routeProperty {
  display: none;
  font-size: 0.9em;
  color: grey;
  margin-left: 1.5em;
}

main#country div.navigation .table div.cityTitle, main#country div.navigation .table p.routeTitle, main#country div.navigation .table p.routeProperty, main#country div.navigation .table-region div.cityTitle, main#country div.navigation .table-region p.routeTitle, main#country div.navigation .table-region p.routeProperty, main#regions div.navigation .table div.cityTitle, main#regions div.navigation .table p.routeTitle, main#regions div.navigation .table p.routeProperty, main#regions div.navigation .table-region div.cityTitle, main#regions div.navigation .table-region p.routeTitle, main#regions div.navigation .table-region p.routeProperty {
  cursor: pointer;
}

main#country div.navigation .table .cityTitle, main#country div.navigation .table-region .cityTitle, main#regions div.navigation .table .cityTitle, main#regions div.navigation .table-region .cityTitle {
  border: 1px solid #929292;
  padding: 0.3em;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

main#country div.navigation .table p.routeTitle.open, main#country div.navigation .table-region p.routeTitle.open, main#regions div.navigation .table p.routeTitle.open, main#regions div.navigation .table-region p.routeTitle.open {
  background-color: #EB00FF;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: white;
}

main#country div.navigation .table p.routeTitle, main#country div.navigation .table-region p.routeTitle, main#regions div.navigation .table p.routeTitle, main#regions div.navigation .table-region p.routeTitle {
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  margin-left: 0.4em;
}

main#country div.navigation .table div.city, main#country div.navigation .table-region div.city, main#regions div.navigation .table div.city, main#regions div.navigation .table-region div.city {
  padding: 0.3em;
  border: 1px solid #929292;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.read {
  margin: 3em 1em 0 1em;
}

.read h3 {
  color: #EB00FF;
  font-weight: 400;
  margin-bottom: 1em;
}

.read h3.upper {
  text-transform: uppercase;
  font-weight: 500;
}

.read p {
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto 15px auto;
  line-height: 1.6;
}

.read li {
  margin-left: 1em;
}

.read p:first-of-type {
  margin-top: 1em;
}

.read a {
  text-decoration: none;
  color: #EB00FF;
  font-weight: 400;
}

@media screen and (min-width: 577px) {
  .read {
    margin: 4em 7.5% 0 7.5%;
  }
}

@media screen and (min-width: 950px) {
  .read {
    margin: 4em 20% 0 20%;
  }
}

@media screen and (min-width: 1400px) {
  .read {
    margin: 4em 25% 0 25%;
  }
}

footer #read_more {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 4em 3em 2em 3em;
  grid-gap: 3em;
}

@media screen and (max-width: 577px) {
  footer #read_more {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer #read_more h3 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.25em;
}

footer #read_more img {
  max-width: 100%;
}

footer #donate {
  margin: 4em 1em 4em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer #donate h5 {
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 577px) {
  footer #donate {
    margin: 4em 15% 4em 15%;
  }
  footer #donate h5 {
    font-size: 1.25em;
    max-width: 40em;
  }
}

footer #donate a {
  background-color: #ffc423;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer #created_texty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 4em 15% 4em 15%;
}

footer #created_texty i {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0.5em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  border: 1px solid #8d8d8d;
  color: #8d8d8d;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 2.5em;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #created_texty i:hover {
  border: 1px solid #333333;
  color: #333333;
}

footer #created_texty img {
  max-height: 4em;
  max-width: 90%;
}

footer #created_texty div {
  text-align: center;
}

footer #created_texty h3 {
  text-align: center;
  font-size: 1.5rem;
}

.tippy-popper div.tippy-tooltip {
  color: #0d0d0d;
  font-size: 1rem;
  padding: 0.75em !important;
  -webkit-box-shadow: 0 0 0.5em 1px #e6e6e6;
          box-shadow: 0 0 0.5em 1px #e6e6e6;
  margin: 0 -5% 0 0;
}

.tippy-popper .tippy-backdrop {
  background-color: #fff;
  opacity: 0.85;
}

.tippy-popper h5 {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  font-size: 1em;
  text-align: left;
}

@media screen and (min-width: 577px) {
  .tippy-popper h5 {
    font-size: 0.85rem;
  }
}

.tippy-popper p {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0;
  text-align: left;
}

section#partners {
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #ffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 220px 80px 190px 220px 120px 220px auto;
      grid-template-columns: auto 220px 80px 190px 220px 120px 220px auto;
}

@media screen and (max-width: 577px) {
  section#partners {
    -ms-grid-columns: auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto;
  }
}

section#partners div.partner {
  width: 100%;
  height: 30px;
}

section#partners #partner3, section#partners #partner4 {
  margin-top: 5px;
}

section#partners #partner6 {
  width: 90% !important;
  margin-top: 10px !important;
}
/*# sourceMappingURL=style.css.map */