$fontcol: #111111;
$bgcol: #f1f1f1;
$accentcol: #6892ff;

body {
  font-family: sans-serif;
  color: $fontcol;
  background: $bgcol;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    outline-style: none;
  }
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;

  figure {
    padding: 0;
    margin: 0;
  }

  #map {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;
  }

  .table {
    display: flex;
    flex-wrap: wrap;

    div.city {
      margin: 1em;
      padding: 1.5em;
      border: 1px solid $accentcol;

      .routeProperty {
        font-size: smaller;
        color: grey;

      }

      .cityTitle {
        background: transparent;
        padding: 0.5em;
        transition: all 1.5s;

        &.open {
          background-color: $accentcol;
        }
      }
    }
  }
}